<p>Hey You.</p>

<p>I'm Antoine. Remote worker, Crossfitter, and adventure seeker.</p>

<p>I work as a UI Engineer at <a href="http://travelbank.com">TravelBank</a>, often from wherever I can find wifi. I used to <a href="https://www.creativebloq.com/netmag/issue-258-81412615">write</a> and <a href="https://2014.cssconf.com/index.html#speakers">speak</a> on technology, but now I'm inclined to just do the work and enjoy the life <a href="https://www.linkedin.com/in/aebsr/">that work</a> affords.</p>

<p>These days I'm spending time with family, geeking out over <a href="https://www.amazon.com/Obstacle-Way-Timeless-Turning-Triumph/dp/1591846358">Stoicism</a>, embracing every new experience I'm presented with, and desperately trying to put miles on my <a href="https://www.instagram.com/p/BGo-pCYoub1/?utm_source=ig_web_copy_link">Indian Scout</a>.</p>

<p>Documenting my journey along the way on <a href="https://www.instagram.com/getouttathebox/">Instagram</a>.</p>
